div.auth
    div.auth__container
         form.auth__form(action="admin.html" onsubmit="return validateAuthForm();")
            div.auth__close-btn
            h3.auth__title Авторизация
            div.auth__description Введите логин и пароль, чтобы войти в личный кабинет
            div.auth__inputs
                input.auth__input(placeholder='Логин' name='login')
                input.auth__input(placeholder='Пароль' name='password')
            div.auth__error
            button.auth__button(type="submit") Войти

    script.
        function validateAuthForm() {
            document.querySelector(".auth__error").style.display = "none";

            let login = document.querySelector('input[name="login"]').value;
            let password = document.querySelector('input[name="password"]').value;
            let error = false;

            if (login.length === 0) {
                error = "Логин не может быть пустым";
            } else if (password.length === 0) {
                error = "Пароль не может быть пустым";
            } else if (login !== "admin" || password !== "admin") {
                error = "Неверный логин или пароль";
            }

            if (error) {
                document.querySelector(".auth__error").textContent = error;
                document.querySelector(".auth__error").style.display = "block";
                return false;
            }
        }