div.auth
    div.auth__container
         form.auth__form
            div.auth__close-btn
            h3.auth__title Авторизация
            div.auth__description Введите логин и пароль, чтобы войти в личный кабинет
            div.auth__inputs
                input.auth__input(placeholder='Логин')
                input.auth__input(placeholder='Пароль')
            button.auth__button(type="submit") Войти
