nav.header
    div.header__container
        div.header__logo
            img.header__logo__img(src="img/header/logo.svg" alt="logo")
            div.header__logo__description Курьерская служба доставки
        div.header__right
            div.header__right__phone 8 (909) 023-12-51
            button.header__right__btn Вход