@import "../mixins/media";

.carousel {
  position: relative;

  .carousel-dots {
    list-style-type: none;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 31px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

    .carousel-dots__item {
      width: 14px;
      height: 14px;
      background: #264160;
      border-radius: 4px;
      margin: 0 4px;
      cursor: pointer;

      &--active {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 3px;
          background: #346491;
          left: 3px;
          top: 3px;
        }
      }
    }
  }
}

.carousel .carousel__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;


  @include media-tablet {
    height: 490px;
    padding: 73px 15px 0;
  }

  @include media-mobile {
    height: 539px;
  }

}

.carousel .carousel__container .carousel-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  position: relative;
}

.carousel .carousel__container .carousel-list .carousel-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include media-tablet {
    display: block;
  }

}

.carousel .carousel__container .carousel-list .carousel-list__img {
  line-height: 0;

  @include media-tablet {
    display: none;
  }

}

.carousel .carousel__container .carousel-list .carousel-list__data .carousel-list__title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 34px;
  margin-bottom: 18px;

  @include media-mobile {
    font-size: 38px;
    line-height: 47px;
    margin-top: 48px;
    margin-bottom: 34px;
  }

}

.carousel .carousel__container .carousel-list .carousel-list__data .carousel-list__description {
  color: #FFFFFF;
  line-height: 24px;
  margin-bottom: 86px;

  @include media-mobile {
    margin-bottom: 63px;

    br {
      display: none;
    }
  }
}

.carousel .carousel__container .carousel-list .carousel-list__data .carousel-list__button {
  display: block;
  width: 240px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  background: #E5E31F;
  border-radius: 10px;
  text-decoration: none;
  color: #2A4F71;
  font-size: 18px;
  font-weight: 500;

  @include media-tablet {
    display: none;
  }

  @include media-mobile {
    display: block;
    width: 100%;
  }

}


/* steps */

.steps {
  background: #FFFFFF;
  padding-top: 97px;
  padding-bottom: 139px;

  @include media-tablet {
    padding-bottom: 96px;
  }

  @include media-mobile {
    padding-bottom: 102px;
  }

}

.steps .steps__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include media-tablet {
    padding: 0 8px;
  }

}

.steps .steps__container .steps__title {
  color: #2A496B;
  font-size: 28px;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
  margin-bottom: 148px;
}

.steps .steps__container .steps-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.steps .steps__container .steps-list .steps-list__item {
  max-width: calc(100% / 3);
  text-align: center;

  @include media-tablet {
    max-width: 50%;
  }

  @include media-mobile {
    max-width: 100%;
  }

}

@mixin steps_items {

  $maxItem: 3;

  @include media-tablet {
    $maxItem: 2;
  }

  @for $i from 1 through $maxItem {
    &:nth-child(#{$i}) {
      margin-bottom: 116px;
    }
  }

  @include media-mobile {
    &:not(:last-child) {
      margin-bottom: 64px;
    }
  }

}

.steps .steps__container .steps-list .steps-list__item {
  @include steps_items;

  @include media-tablet {
    &:last-child {
      margin-top: 92px;
    }
  }

  @include media-mobile {
    &:last-child {
      margin-top: 3px;
    }
  }
}

.steps .steps__container .steps-list .steps-list__item .steps-list__img-parent {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-mobile {
    display: block;
    height: auto;
  }

}

.steps .steps__container .steps-list .steps-list__item .steps-list__img-parent .steps-list__img {
  line-height: 0;
}

.steps .steps__container .steps-list .steps-list__item .steps-list__title {
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-top: 37px;
  margin-bottom: 25px;

  @include media-mobile {
    line-height: 25px;
    margin-top: 33px;
  }

}

.steps .steps__container .steps-list .steps-list__item .steps-list__description {
  display: block;
  font-size: 15px;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  line-height: 19px;
}

